<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div style="width:15%; height:100%; float:left; text-align:center; background-color:rgb(27, 27, 26);">
            <div style="color:white; background: linear-gradient(rgb(45, 8, 80), rgb(255, 174, 174)); height:9%; font-weight:700;"><br>My Page</div>
            <div style="height:7px;"></div>
            <button class="btn" onclick="location.href='/'">메 인</button>
            <button class="btn" onclick="location.href='/chatRoom'">채 팅 방</button>
            <button class="btn" onclick="location.href='/NumberPuzzle'">숫 자 퍼 즐</button>
            <button class="btn" onclick="location.href='/SnakeGame'">스 네 이 크</button>
            <button class="btn" onclick="location.href='/Tetris'">테 트 리 스</button>
            <button class="btn" onclick="location.href='/MineSearch'">지 뢰 찾 기</button>
        </div>
        <div style="width:5%; height:100%; float:right; text-align:center;"></div>
    </body>
</html>
<style>
    .btn{
        width: 90%;
        height: 7%;
        margin: 3%;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 1px;
        padding: 3px 10px 3px;
        outline: 0;
        border: 2px solid white;
        border-radius: 5px;
        color:white;
        cursor: pointer;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
    }
    .btn:hover{
        background-color: grey;
        height: 8%;
        top: 3px;
        left: 3px;
        transition: 0.5s;
    }
</style>